body {     font-family: sans-serif; 
background-color: rgb(194, 188, 176);}
 {    }     
  h1{     text-decoration: none; 
    font-size: 20px;  
    text-align: center; 
    box-shadow: 3px 5px 4px 0 gray ;
    background-image:linear-gradient(white,rgb(236, 159, 14)) ;
    padding: 10px;
    border-radius: 10px;
    color:gRAY;  } 
  .komp:hover{     width: 450px;height: 450px; content:"";
    background-image:url(https://avatars.mds.yandex.net/i?id=2763c8243714f697860aef5ea9534fdd_sr-9212030-images-thumbs&n=13);
     transform: img 0.5s linear ; 
     font-size: 25px; 
     color:rgb(255, 255, 255);}
  .moto:hover{  width: 550px;height: 350px; content:"";
    background-image:url(https://img.freepik.com/free-photo/dirt-bike-rider-participating-races-circuits-adventure-thrill-with-motorcycle_23-2151482642.jpg?semt=ais_hybrid);
     transform: img 2s linear ; 
     font-size: 25px; 
     color:gray;

  }
.yt:hover{
  width: 550px;height: 450px; content:"";
    background-image:url(https://avatars.mds.yandex.net/i?id=decc82e142892f57df661ac15a61d799_l-8173266-images-thumbs&n=13);
     transform: img 2s linear ; 
     font-size: 25px; 
     color:rgb(255, 255, 255);

}
     
footer{ background-color:rgb(236, 159, 14);


}
.social{
  display:flex;
  display: inline-block;
  
}

.link-header{
  background-image: linear-gradient(white,rgb(233, 171, 71));
  border-radius: 10%;
  text-decoration: none;
  padding: 5px;
  box-shadow:3px 5px 4px 0 gray ; 
  color:black;

 
}
